<!--
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>File Uploader</title>
        <script src="angular.js"></script>
        <script src="app.js"></script>
    </head>
    <body ng-app="funwithcountries">
        <h1>Fun with Countries!</h1>
        <div ng-controller="CountryController as countryCtrl">
            <ul>
                <li ng-repeat="c in countryCtrl.countries">
                    {{ c.name }}
                    <ul>
                        <li ng-repeat="s in c.states">
                            {{ s.name }}
                        </li>
                    </ul>
                    <input type="text" name="state" ng-model="countryCtrl.newState">
                    <a href >Add State {{ countryCtrl.newState }}</a>
                </li>
            </ul>
        </div>
    </body>
</html>-->

<html>
    <head>
        <title>Login Page</title>
        <script src="angular.js"></script>
        <script src="app.js"></script>

        <style type = "text/css">
            body {
                font-family:Arial, Helvetica, sans-serif;
                font-size:14px;
            }

            label {
                font-weight:bold;
                width:100px;
                font-size:14px;
            }

            .box {
                border:#666666 solid 1px;
            }
        </style>

    </head>

    <body ng-app="fileLoader" ng-controller="UserController as userCtrl" bgcolor = "#FFFFFF">
        <div align = "center">
            <div style = "width:300px; border: solid 1px #333333; " align = "left">
                <div style = "background-color:#333333; color:#FFFFFF; padding:3px;"><b>Login</b></div>

                <div style = "margin:30px">

                    <form ng-submit="userCtrl.postForm()" method = "post">
                        <label>User Name:</label>
                        <input ng-model="userCtrl.userName" type="text" id="username" class = "box"/><br /><br />
                        <label>Password:</label>
                        <input ng-model="userCtrl.password" type="password" id="password" class="box" /><br/><br />
                        <input type = "submit" value = " Submit "/><br />
                    </form>
                    <!--<div style = "font-size:11px; color:#cc0000; margin-top:10px"><?php echo $error; ?></div>-->

                </div>
            </div>
        </div>
    </body>
</html>
