<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="angular.js"></script>
    <script src="app.js"></script>
</head>
<body ng-app="fileLoader" ng-controller="UploadController as uploadCtrl" bgcolor = "#FFFFFF">
    <input ng-model="uploadCtrl.description" type="text" id="description"/>
    <input type="file" name="file"/>
</body>
</html>